@use "../abstracts" as *;

.header {
    max-width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    z-index: 2;



    @include lg {
        padding: 0 6rem;
        height: 4.5rem;
    }

    &__brand {
        padding-left: 1.5rem;

        @include lg {
            padding-left: 0;
        }
    }

    &__btn {
        padding-right: 1rem;
    }

}